[View in Colaboratory](https://colab.research.google.com/github/schwaaweb/aimlds1_07-TheMachineLearningFramework/blob/master/W07_S0--NJ--pandas_using_local_files.ipynb)

### Downloading a pandas DataFrame as .csv to your local system

In [0]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [2]:
import datetime
filename = 'titanic-%s.csv' % datetime.datetime.now().strftime("%d%B%Y-%I-%M%p")
print(filename)

titanic-01May2018-02-08AM.csv

In [0]:
def save_data_to_local(data, file):
  from google.colab import files

  with open(file, 'w') as f:
    f.write('')  

  data.to_csv(file)
  files.download(file)

In [0]:
save_data_to_local(titanic, filename)

### Uploading a local file to your Colab VM

In [5]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('Uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving titanic-01May2018-02-08AM.csv to titanic-01May2018-02-08AM (1).csv
Uploaded file "titanic-01May2018-02-08AM.csv" with length 60473 bytes

### Importing files present on your Colab VM

In [6]:
import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded[filename].decode('utf-8')))
df.head()

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True