[View in Colaboratory](https://colab.research.google.com/github/schwaaweb/aimlds1_07-TheMachineLearningFramework/blob/master/M07_CC--DJ--Model_Tuning_CC1.ipynb)

# Splitting data into Test/Train datasets


In this code challenge we're going to use the Pima Indians Diabetes dataset to split our data into test/train datasets both manually and using a library.

In [1]:
# LAMBDA SCHOOL
# 
# MACHINE LEARNING
#
# MIT LICENSE

# Import Data and Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
print(df.shape)
df.head()

(768, 9)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1


## 1) Randomly a select 20% of your data to be in your "test" dataset and the other 80% to be in your "train" dataset. Do this without setting a random seed.

In [0]:
##### YOUR CODE HERE #####

## 2) After you have randomly divided the dataset, print the shape of both of your new test and train datasets and print the first five rows of each.

In [0]:
##### Print train dataset shape and first 5 rows. #####

In [0]:
##### Print test dataset shape and first 5 rows. #####

## 3) Use sklearn's train_test_split function to split the data into test and training datasets. Set the random_state to 42

In [0]:
##### YOUR CODE HERE #####

## 4) Print the shape and first 5 rows of the new dataframes.

In [0]:
##### Print train dataset shape and first 5 rows. #####

In [0]:
##### Print test dataset shape and first 5 rows. #####

### Change the random state on your test_train_split to a different integer and run the code again. What happens to the shape of the dataset? What happens to the first five rows?


---

## 5) Using the original dataframe, create two new dataframes titled "X" and "Y". 

The Y dataframe should be composed of only the "class" column (our dependent variable - or what we want to predict) and the X dataframe should be composed of all other columns. (Our independent variables, sometimes called features or predictors)

Print their shape as well as the first 5 rows of these two dataframes.

In [0]:
##### YOUR CODE HERE #####

## 6) Now use the test_train_split function to not only split your dataset into test and train datasets, but also by independent and dependent variables. Pick any integer value to use use as the random seed.

You should end up with 4 datasets: X_train, Y_train, X_test, and Y_test

Print the sizes and first 5 rows of each of these four datasets.

In [0]:
##### YOUR CODE HERE #####

## The following code will split our data and then train a logistic regression classifier.

## Run the code muliple times using different random_seed. What happens to the model's accuracy? Why do you think  this might be happening? 

## Research what the "Random Seed" is for and how it can help us ensure that our machine learning results are reproducible.

In [87]:
feature_cols = [col for col in df.columns if 'class' not in col]
Y = df['class']
X = df[feature_cols]

random_seed = 42

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2, random_state=random_seed)
model = LogisticRegression()
model.fit(X_train, Y_train)
result = model.score(X_test, Y_test)
print("Accuracy: %.3f%%" % (result*100.0))

Accuracy: 80.519%